{#  This file is part of Ydle.

    Ydle is free software: you can redistribute it and/or modify
    it under the terms of the GNU  Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Ydle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU  Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Ydle.  If not, see <http://www.gnu.org/licenses/>.

#}
{% extends "YdleIhmBundle::layout.html.twig" %}

{% block title "page.nodes.title" | trans %}

{% block content %}

   <div class="row">
          <div class="col-lg-8 with-border" style="width: 760px; margin-right: 20px;">
            <h2>{{ "node.list.title" | trans}}</h2> 
            <table id="sensors">
            <thead>
            <tr>
              <th>{{ "node.list.code" | trans }}</th>
              <th>{{ "title.name" | trans }}</th>
              <th>{{ "title.type" | trans }}</th>
              <th>{{ "node.list.room" | trans }}</th>
              <th>{{ "title.active" | trans }}</th>
              <th>{{ "title.action" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if nodes %}
            {% for node in nodes %}
            <tr>        
               <td>{{ node.code }}</td>
               <td>{{ node.name }}</td>
               <td>
               {% for type in node.types %}
                 <span class="type">{{ type.name }}</span>
               {% endfor %}
               </td>
               <td>{{ node.room.name }}</td>
               <td>{% if node.isactive %}Yes{% else %}{{ "label.no" | trans }}{% endif %}</td>
               <td> 
                    <a href="{{ path('nodeEdit', {'node': node.id} ) }}" class="glyphicon glyphicon-pencil"></a>
                    {% if node.isactive %}
                    <a href="{{ path('nodeActivation', {'node': node.id, 'active': 0} ) }}" class="glyphicon glyphicon-pause"></a>
                    {% else %}
                    <a href="{{ path('nodeActivation', {'node': node.id, 'active': 1} ) }}" class="glyphicon glyphicon-play"></a>
                    {% endif %}
                    <a href="{{ path('nodeDelete', {'node': node.id} ) }}" class="glyphicon glyphicon-trash" onclick="return confirm('{{ "node.delete.confirm" | trans }}');"></a>     
                    <a href="{{ path('nodeLink', {'node': node.id} ) }}" onclick="return confirm('{{ "node.init.confirm" | trans }}');" class="glyphicon glyphicon-flash"></a>     
               </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">{{ "node.list.empty" | trans }}</td>
            </tr>
            {% endif %}
            </tbody>
            </table>
          </div>   
          <div class="col-lg-4 with-border" style="height: 282px;">
              <div class="content">
                <a href="{{ path('nodeAdd') }}" class="btn btn-default glyphicon glyphicon-plus-sign" >{{ "node.btn.add" | trans }}</a>
              </div>
          </div>
        </div>
{% endblock %}
