{% extends "YdleIhmBundle::layout.html.twig" %}

{% block title "Ydle - Nodes" %}

{% block content %}

   <div class="row">
          <div class="col-lg-8 with-border" style="width: 760px; margin-right: 20px;">
            <h2>Listes des capteurs</h2> 
            <table id="sensors">
            <thead>
            <tr>
              <th>Code</th>
              <th>Nom</th>
              <th>Type</th>
              <th>Pièce</th>
              <th>Active ?</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if nodes %}
            {% for node in nodes %}
            <tr>        
               <td>{{ node.code }}</td>
               <td>{{ node.name }}</td>
               <td>
               {% for type in node.types %}
                 <span class="type">{{ type.name }}</span>
               {% endfor %}
               </td>
               <td>{{ node.room.name }}</td>
               <td>{% if node.isactive %}Yes{% else %}No{% endif %}</td>
               <td> 
                    <a href="{{ path('nodeEdit', {'node': node.id} ) }}" class="glyphicon glyphicon-pencil"></a>
                    {% if node.isactive %}
                    <a href="{{ path('nodeActivation', {'node': node.id, 'active': 0} ) }}" class="glyphicon glyphicon-pause"></a>
                    {% else %}
                    <a href="{{ path('nodeActivation', {'node': node.id, 'active': 1} ) }}" class="glyphicon glyphicon-play"></a>
                    {% endif %}
                    <a href="{{ path('nodeDelete', {'node': node.id} ) }}" class="glyphicon glyphicon-trash" onclick="return confirm('Êtes vous sur de vouloir supprimer ce node ?');"></a>     
                    <a href="{{ path('nodeReset', {'node': node.id} ) }}" onclick="return confirm('Êtes vous sur de vouloir initialiser ce node ?');" class="glyphicon glyphicon-flash"></a>     
               </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">Aucun capteur enregistré actuellement</td>
            </tr>
            {% endif %}
            </tbody>
            </table>
          </div>   
          <div class="col-lg-4 with-border" style="height: 282px;">
              <div class="content">
                <a href="{{ path('nodeAdd') }}" class="btn glyphicon glyphicon-plus-sign" >{{ "node.btn.add" | trans({}, "YdleRoomBundle") }}</a>
              </div>
          </div>
        </div>
{% endblock %}
